/* Global */
:root {
    /*Color*/
    --color-white: #ffffff;
    --color-dark-white: #bdbdbd;
    /*--color-background:  #F2F2F2;*/
    --color-grey: #D9D9D9;
    --color-orange: #8A3CBA;
    --color-dark-grey:#8F5ECA;
    --color-purple-grey: #3d4856;
    --color-dark-white: #bdbdbd;
    --color-black: #000000;
    --color-bluepurp: #6a6f95;
    --color-bluepurple: #6D64D8;
    --color-purple:#8F5ECA;
    --color-plum:#A758BB;
    --color-pinkpurple:#BB55AB;
    --color-light-yellow:#8A3CBA;
    --color-yellow-grey:#b4aa99;
    --color-gradient-blue: linear-gradient(120deg, rgba(255,255,255,1) 0%, rgba(234,239,247,1) 50%, rgba(169,170,188,1) 100%);
    --color-gradient-orange: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(202,160,7,1) 79%);
    /* Font size */
    --font-large: 32px;
    --font-medium: 18px;
    --font-regular: 14px;
    --font-small: 12px;
    --font-micro: 10px;
    /* Font weight */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;

    /* Size */
    --size--border--radius: 4px;

    /* Animation */
    --animation-duration: 300ms;

    /* Nav icon */
    --nav-icon-width:50px;
    --nav-border-width: 15px;
}
/* Universal tags */


a {
    text-decoration: none;
    color: var(--color-white);
}
button {
    background-color: transparent;
    cursor: pointer;
    border: none;
    /*outline: none; removed by gabriel         */
}
li {
    list-style: none;
}
span {
    font-size: 14px;;
}
/* Typography */
h1 {
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-black);
    margin: 16px 0px;
}
    
h2 {
    font-size: var(--font-regular);
    font-weight: var(--weight-semi-bold);
    color: var(--color-black);
    margin: 8px 0px;
}
    
h3 {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 8px 0px;
}
h4{
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-black);
    margin: 16px 0px;
}    
p {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 4px 0px;
}

/*Table buttons*/
#btn-edit-table{
    width: 35px;
    padding-left: 13%;
    border: none;
    background-color: var(--color-orange);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.20);
    color: #fff;
    
    
}

#btn-edit-table:hover{
    background-color: #8a3cba87;
}

#btn-delete-table{
    width: 35px;
    padding-left: 13%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.20);
    border: none;
} 

#btn-delete-table:hover{
    background-color: rgb(239, 126, 149);
}

section h5{
    margin-top: 20px;
}